@use '../util' as u;

.footer {
  $b: &;

  &__wrapper {
    display: flex;
    gap: u.rem(40) u.rem(20);
    flex-wrap: wrap;
  }

  &__logo {
    flex: 100%;
  }

  &__homelink {
    display: block;
    width: fit-content;
  }

  &__logo-image {
    width: u.rem(128);
    margin-block-end: u.rem(10);
  }

  &__copyright {
    line-height: 1;
    margin-block-end: 0;
  }

  &__column {
    flex: calc(50% - u.rem(10));

    @include u.breakpoint(medium) {
      flex: auto;
    }
  }

  &__column-title {
    font-size: u.rem(22);
    line-height: 1.1;
    margin-block-end: u.rem(18);
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: u.rem(16);
    font-size: u.rem(18);
    line-height: 1;
    margin-block-end: u.rem(10);
    color: var(--button-primary-text);

    &:hover {
      color: var(--text-link-hover);

      #{$b}__social-path {
        fill: var(--text-link-hover);
      }
    }
  }

  &__social {
    width: u.rem(18);
  }

  &__social-path {
    fill: var(--text-dark);
  }
}
